{% extends 'base.html.twig' %}

{% block title %}Categorien index{% endblock %}

{% block body %}
    <h1>Categorien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Gerecht</th>
                <th>Dranken</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorien in categoriens %}
            <tr>
                <td>{{ categorien.id }}</td>
                <td>{{ categorien.gerecht }}</td>
                <td>{{ categorien.dranken }}</td>
                <td>
                    <a href="{{ path('Categorien_show', {'id': categorien.id}) }}">show</a>
                    <a href="{{ path('Categorien_edit', {'id': categorien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Categorien_new') }}">Create new</a>
{% endblock %}
