{% extends 'base.html.twig' %}

{% block title %}Reservering index{% endblock %}

{% block body %}
    <h1>Reservering index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Tafel</th>
                <th>Naam</th>
                <th>Telefoon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr>
                <td>{{ reservering.id }}</td>
                <td>{{ reservering.datum ? reservering.datum|date('Y-m-d') : '' }}</td>
                <td>{{ reservering.tijd ? reservering.tijd|date('H:i:s') : '' }}</td>
                <td>{{ reservering.tafel }}</td>
                <td>{{ reservering.naam }}</td>
                <td>{{ reservering.telefoon }}</td>
                <td>
                    <a href="{{ path('Reservering_show', {'id': reservering.id}) }}">show</a>
                    <a href="{{ path('Reservering_edit', {'id': reservering.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Reservering_new') }}">Create new</a>
{% endblock %}
