{% extends 'base.html.twig' %}

{% block title %}Reservering{% endblock %}

{% block body %}
    <h1>Reservering</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservering.id }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ reservering.datum ? reservering.datum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tijd</th>
                <td>{{ reservering.tijd ? reservering.tijd|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tafel</th>
                <td>{{ reservering.tafel }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ reservering.naam }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ reservering.telefoon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Reservering_index') }}">back to list</a>

    <a href="{{ path('Reservering_edit', {'id': reservering.id}) }}">edit</a>

    {{ include('Reservering/_delete_form.html.twig') }}
{% endblock %}
